*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

:root {
    --colorDark1: #112D4E;
    --colorDark2: #3F72AF;
    --colorLight1: #DBE2EF;
    --colorLight2: #F9F7F7;
    --shadow: rgba(0, 0, 0, 0.15);
    --transition: 0.3s ease-in-out;
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    color: var(--colorLight2);
    background-image: linear-gradient(160deg, var(--colorDark1) 0%, var(--colorDark2) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 2rem;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    user-select: none;
}

.tab-container {
    width: 90%;
    max-width: 550px;
    margin: 3rem auto 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.tab {
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 8px 12px;
    border-radius: 6px;
    background-color: transparent;
    color: var(--colorLight2);
    border: 2px solid transparent;
    transition: background-color var(--transition), border-color var(--transition), color var(--transition);
    user-select: none;
    flex: 1;
    text-align: center;
    font-weight: 600;
}

.tab:hover,
.tab:focus-visible {
    background-color: rgba(219, 226, 239, 0.15);
    outline: none;
}

.tab.current-tab {
    background-color: var(--colorLight1);
    color: var(--colorDark1);
    border-color: var(--colorLight1);
    box-shadow: 0 4px 10px var(--shadow);
}

.weather-container {
    margin-block: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    all: unset;
    font-size: 0.85rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: var(--colorDark2);
    color: var(--colorLight2);
    cursor: pointer;
    padding: 10px 30px;
    margin-bottom: 10px;
    box-shadow: 0 2px 6px var(--shadow);
    transition: background-color var(--transition), box-shadow var(--transition);
    user-select: none;
    text-align: center;
}

.btn:hover,
.btn:focus-visible {
    background-color: var(--colorLight1);
    color: var(--colorDark1);
    box-shadow: 0 4px 12px var(--shadow);
    outline: none;
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grant-location-container {
    display: none;
    text-align: center;
}

.grant-location-container.active {
    display: flex;
}

.grant-location-container img {
    margin-bottom: 2rem;
}

.grant-location-container p:first-of-type {
    font-size: 1.75rem;
    font-weight: 600;
}

.grant-location-container p:last-of-type {
    font-size: 0.95rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
    color: var(--colorLight1);
}

.loading-container {
    display: none;
    flex-direction: column;
    align-items: center;
}

.loading-container.active {
    display: flex;
}

.loading-container p {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 1rem;
    font-weight: 600;
}

.user-info-container {
    display: none;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    width: 90%;
}

.user-info-container.active {
    display: flex;
}

.name {
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;
}

.user-info-container p {
    font-size: 1.5rem;
    font-weight: 300;
    user-select: none;
}

.user-info-container img {
    width: 90px;
    height: 90px;
}

.name p {
    font-size: 2rem;
    font-weight: 600;
}

.name img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.user-info-container p[data-temp] {
    font-size: 2.75rem;
    font-weight: 700;
    margin-top: 10px;
    letter-spacing: 1px;
}

.parameter-container {
    width: 100%;
    display: flex;
    gap: 15px 20px;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    flex-wrap: wrap;
}

.parameter {
    flex: 1 1 30%;
    max-width: 200px;
    background-color: rgba(219, 226, 239, 0.3);
    border-radius: 10px;
    padding: 1.25rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    align-items: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: background-color var(--transition);
    cursor: default;
    user-select: none;
}

.parameter:hover {
    background-color: rgba(219, 226, 239, 0.5);
}

.parameter img {
    width: 50px;
    height: 50px;
}

.parameter p:first-of-type {
    font-size: 1.15rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--colorDark1);
}

.parameter p:last-of-type {
    font-size: 1rem;
    font-weight: 300;
    color: var(--colorDark2);
}

.form-container {
    display: none;
    width: 90%;
    max-width: 550px;
    margin: 0 auto 3rem auto;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
}

.form-container.active {
    display: flex;
}

.form-container input {
    all: unset;
    width: calc(100% - 80px);
    height: 45px;
    padding: 0 20px;
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 12px;
    font-size: 1rem;
    color: var(--colorDark1);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
    transition: outline var(--transition);
}

.form-container input::placeholder {
    color: rgba(17, 45, 78, 0.5);
}

.form-container input:focus {
    outline: 3px solid var(--colorLight1);
    background-color: var(--colorLight2);
}

.form-container .btn {
    padding: unset;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 1px;
    background-color: var(--colorDark2);
    box-shadow: 0 2px 6px var(--shadow);
    transition: background-color var(--transition), box-shadow var(--transition);
}

.form-container .btn:hover,
.form-container .btn:focus-visible {
    background-color: var(--colorLight1);
    box-shadow: 0 4px 12px var(--shadow);
    outline: none;
}

.form-container .btn img {
    filter: brightness(100%);
    transition: filter var(--transition);
}

.form-container .btn:hover img {
    filter: brightness(80%);
}


/* ------------------- RESPONSIVE ------------------- */

@media (max-width: 768px) {
    .tab-container {
        max-width: 100%;
        margin-top: 2rem;
        gap: 0.5rem;
    }
    .tab {
        font-size: 0.8rem;
        padding: 6px 8px;
        flex: 1;
        text-align: center;
    }
    .weather-container {
        margin-block: 2rem;
    }
    .btn {
        padding: 8px 20px;
        font-size: 0.8rem;
    }
    .user-info-container {
        flex-direction: column;
        gap: 1.25rem;
    }
    .user-info-container p {
        font-size: 1.25rem;
    }
    .user-info-container img {
        width: 70px;
        height: 70px;
    }
    .name p {
        font-size: 1.5rem;
    }
    .name img {
        width: 25px;
        height: 25px;
    }
    .user-info-container p[data-temp] {
        font-size: 2rem;
    }
    .parameter-container {
        flex-direction: column;
        gap: 1.5rem 0;
        width: 90%;
        margin-top: 1.5rem;
    }
    .parameter {
        width: 100%;
        max-width: none;
        padding: 1.25rem 2rem;
    }
    .parameter img {
        width: 40px;
        height: 40px;
    }
    .parameter p:first-of-type {
        font-size: 1rem;
    }
    .parameter p:last-of-type {
        font-size: 0.9rem;
    }
    .form-container {
        flex-direction: column;
        gap: 1rem;
        width: 90%;
        max-width: 100%;
    }
    .form-container input {
        width: 100%;
    }
    .form-container .btn {
        width: 100%;
        height: 45px;
        border-radius: 8px;
        margin-bottom: 0;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
        padding-top: 15px;
    }
    .tab {
        font-size: 0.7rem;
        padding: 4px 5px;
    }
    .btn {
        padding: 6px 15px;
        font-size: 0.75rem;
    }
    .user-info-container p {
        font-size: 1rem;
    }
    .user-info-container img {
        width: 60px;
        height: 60px;
    }
    .name p {
        font-size: 1.25rem;
    }
    .name img {
        width: 20px;
        height: 20px;
    }
    .user-info-container p[data-temp] {
        font-size: 1.5rem;
    }
    .parameter p:first-of-type {
        font-size: 0.9rem;
    }
    .parameter p:last-of-type {
        font-size: 0.8rem;
    }
}